step1-open PostgreSql 
step2-open servers 
step3-open Dtabase click database 
step4-right click on postgres 
step5- click on Query tool

#first creat a data base 
CREATE DATABASE company;
output :-
CREATE DATABASE

Query returned successfully in 803 msec.

step6-then click on data base section and refresh the data base.
step7-click on company data base section to connect 
step8- Right click on company database section and select query tool .

You want to delete your data base 
step1- right click on databse name company and select Delect .
step2- used a command for deecting data base 
       DELETE DATABASE company;

And you want to creat a data base extra 
step1: click on database section and rightclick on company data base 
step2: select creat section and select database 
step3- write down database name company2 and save it .
your second data base created .

In [ ]:
CREAT A TABLE IN SQL DATABASE 
CREATE TABLE employee(
       employee_id SERIAL PRIMARY KEY,
	   name VARCHAR(100) NOT NULL,
	   postion VARCHAR(50),
	   department VARCHAR(40),
	   hire_date DATE,
	   salary NUMERIC(10,20)
);

output:-CREATE TABLE

Query returned successfully in 63 msec.

how to seen this table 
step1- go to company data base and right click and refresh it 
step to - click on schemas section  on company data base 
step3- click on table section and showing our data base name employee
step4- click on columns section the showing how many columns are present on in your database .

simple way to see your table 
step1- Go to quary tool and write the command to see the table 
step2- command :-SELECT * FROM employee;  
       select is and then click on run button